@model RouterManagement.Models.ViewModels.SendUciShowWirelessViewModel
    
@{
    var routerName = HttpContext.Current.Request["name"] ?? RouterManagement.Logic.Connections.Routers.GetFirstRouterName();
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit wireless</h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tr>

                <td class="disabled col-md-2">
                    <select class="form-control" id="disabled-field">
                        @if (Model.Disabled)
                        {
                            <option value="true" selected>True</option>
                            <option value="false">False</option>
                        }
                        else
                        {
                            <option value="true">True</option>
                            <option value="false" selected>False</option>
                        }
                    </select>
                </td>

                <td class="channel col-md-2">
                    <select class="form-control" id="channel-field">
                        @for (int i = 0; i < 13; i++)
                        {
                            if (Model.Channel == i)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </td>

                <td class="ssid col-md-2">
                    <input type="text" class="form-control" id="ssid-field" value="@Model.Ssid" placeholder="SSID" />
                </td>

                <td class="encryption col-md-2">
                    <select class="form-control" id="encryption-field">
                        @if (Model.Encryption == "wep")
                        {
                            <option value="wep" selected>WEP</option>
                        }
                        else
                        {
                            <option value="wep">WEP</option>
                        }
                        @if (Model.Encryption == "psk")
                        {
                            <option value="psk" selected>WPA-PSK</option>
                        }
                        else
                        {
                            <option value="psk">WPA-PSK</option>
                        }
                        @if (Model.Encryption == "psk2")
                        {
                            <option value="psk2" selected>WPA2-PSK</option>
                        }
                        else
                        {
                            <option value="psk2">WPA2-PSK</option>
                        }
                    </select>
                </td>

                <td class="key col-md-2">
                    <input type="text" class="form-control" id="key-field" value="@Model.Key" placeholder="Password" />
                </td>

                <td class="mode col-md-1">
                    <select class="form-control" id="mode-field">
                        @if (Model.Mode == "sta")
                        {
                            <option value="sta" selected>Station</option>
                        }
                        else
                        {
                            <option value="sta">Station</option>
                        }
                        @if (Model.Mode == "ap")
                        {
                            <option value="ap" selected>Acces Point</option>
                        }
                        else
                        {
                            <option value="ap">Acces Point</option>
                        }
                    </select>
                </td>

                <td class="network col-md-1">
                    <select class="form-control" id="network-field">
                        @if (Model.Network == "lan")
                        {
                            <option value="lan" selected>LAN</option>
                        }
                        else
                        {
                            <option value="lan">LAN</option>
                        }
                        @if (Model.Network == "wan")
                        {
                            <option value="wan" selected>WAN</option>
                        }
                        else
                        {
                            <option value="wan">WAN</option>
                        }
                    </select>
                </td>

                <td class="add col-md-1">
                    <button id="addPublication-btn" class="btn btn-success">Save</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#addPublication-btn").click(function () {
            const objectToSend = {
                Disabled: $('#disabled-field').val(),
                Channel: $('#channel-field').val(),
                SSID: $('#ssid-field').val(),
                Encryption: $('#encryption-field').val(),
                Key: $('#key-field').val(),
                Mode: $('#mode-field').val(),
                Network: $('#network-field').val(),
            };

            if (objectToSend.SSID.length === 0) {
                alert("SSID can't be empty");
                return;
            }

            if (objectToSend.Key.length === 0) {
                alert("Key can't be empty");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/Admin/SaveWirelessPartial",
                data:
                {
                    config: objectToSend,
                    name: '@routerName'
                },
                cache: false,
                success: function (data) {
                    if (data) {
                        //clear list
                        configurationsList.remove();

                        configurationsList.add({
                            key: "Disabled",
                            value: objectToSend.Disabled
                        });

                        configurationsList.add({
                            key: "Channel",
                            value: objectToSend.Channel
                        });

                        configurationsList.add({
                            key: "SSID",
                            value: objectToSend.SSID
                        });

                        configurationsList.add({
                            key: "Encryption",
                            value: objectToSend.Encryption
                        });

                        configurationsList.add({
                            key: "Key",
                            value: objectToSend.Key
                        });

                        configurationsList.add({
                            key: "Mode",
                            value: objectToSend.Mode
                        });

                        configurationsList.add({
                            key: "Network",
                            value: objectToSend.Network
                        });

                    } else {
                        alert("Error parsing request on server");
                    }


                    $("#modifyPublicationContainer").html("");

                    $('#editWirelessModal').modal('hide');
                }
            });
        });
    });
</script>