@model RouterManagement.Models.ViewModels.ModifyRouterDataPartialViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit router</h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tr>
                <td>
                    <label for="name-modifyField">Friendly name</label>
                    <input type="text" class="form-control" id="name-modifyField" value="@Model.Name" placeholder="eg. router in salon" />
                </td>
                <td>
                    <label for="routerIp-modifyField">Ip/host adress</label>
                    <input type="text" class="form-control" id="routerIp-modifyField" value="@Model.RouterIp" placeholder="eg. 192.168.1.1" />
                </td>
                <td>
                    <label for="port-modifyField">Port</label>
                    <input type="text" class="form-control" id="port-modifyField" value="@Model.Port" placeholder="eg. 22" />
                </td>
                <td>
                    <label for="login-modifyField">Login</label>
                    <input type="text" class="form-control" id="login-modifyField" value="@Model.Login" placeholder="eg. root" />
                </td>
                <td>
                    <label for="password-modifyField">Password</label>
                    <input type="password" class="form-control" value="@Model.Password" id="password-modifyField" />
                </td>
                <td>
                    <button id="modifyRouter-btn" class="btn btn-success">Modify</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default col-md-12" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#modalSpin').modal('hide');

        $("#modifyRouter-btn").click(function () {
            $('#modalSpin').modal('show');

            const objectToSend = {
                Name: $('#name-modifyField').val(),
                OldName: '@Model.Name',
                RouterIp: $('#routerIp-modifyField').val(),
                Port: $('#port-modifyField').val(),
                Login: $('#login-modifyField').val(),
                Password: $('#password-modifyField').val(),
            };

            var valid = true;

            if (objectToSend.Name.length === 0) {
                $.notify("You have to type router name");
                valid = false;
            }

            const usedNames = [];
            @foreach (var name in Model.AllRoutersNames)
            {
                @:usedNames.push("@name");
            }
            if (contains(usedNames, objectToSend.Name) && objectToSend.Name.length !== 0) {
                $.notify("This name is in use");
                valid = false;
            }

            if (!validateIpOrDomain(objectToSend.RouterIp)) {
                $.notify("You have typed router adresses in not proper format");
                valid = false;
            }

            if (!validateNumberOrEmpty(objectToSend.Port)) {
                $.notify("You have typed adress in not proper format");
                valid = false;
            }

            if (objectToSend.Login.length === 0) {
                $.notify("You have to type login");
                valid = false;
            }

            if (valid === false) {
                $('#modalSpin').modal('hide');
                return;
            }

            $.ajax({
                type: "POST",
                url: "/Admin/ModifyRouter",
                data: objectToSend,
                cache: false,
                success: function (result) {
                    if (result.status == "true") {
                        let online = '';
                        if (result.isConnected == "true") {
                            online = '<span class="glyphicon glyphicon-ok" style="color:green;"></span>';
                        }
                        else {
                            online = '<span class="glyphicon glyphicon-remove" style="color:red;"></span>';
                        }

                        let port = '';
                        if (!objectToSend.Port || 0 === objectToSend.Port.length) {
                            port = '22';
                        }
                        else {
                            port = objectToSend.Port;
                        }

                        routersList.remove('name', '@Model.Name');

                        routersList.add({
                            name: objectToSend.Name,
                            isActive: online,
                            routerIp: objectToSend.RouterIp,
                            port: port,
                            login: objectToSend.Login,
                            password: '***'
                        });
                    }
                    else {
                        alert("Error when modyfying router occured");
                    }

                    $('#modalSpin').modal('hide');

                    $("#modifyRouterContainer").html("");

                    $('#modifyRouterModal').modal('hide');
                }
            });
        });

        function validateIpOrDomain(inputText) {
            const format = /^((((([a-zA-Z]+|[a-zA-Z0-9]*)\.)+)(([a-zA-Z]+[a-zA-Z0-9]*)+))|((\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5])))|(localhost))$/;
            if (inputText.match(format) != null) {
                return true;
            }
            else {
                return false;
            }
        }

        function validateNumberOrEmpty(inputText) {
            const format = /^(\s*|\d+)$/;
            if (inputText.match(format) != null) {
                return true;
            }
            else {
                return false;
            }
        }

        function contains(a, obj) {
            var i = a.length;
            while (i--) {
                if (a[i] == obj) {
                    return true;
                }
            }
            return false;
        }
    });
</script>