@model List<RouterManagement.Models.ViewModels.RouterActivityDataViewModel>

@Scripts.Render("~/bundles/ListJS")

@{
    ViewBag.Title = "Routers";
}

<h2>All routers added</h2>
<hr>
<div id="routers">
    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th class="sort" data-sort="Name">Name</th>
            <th class="sort" data-sort="RouterIp">Ip adress</th>
            <th class="sort" data-sort="Port">Port</th>
            <th class="sort" data-sort="Login">Login</th>
            <th class="sort" data-sort="Password">Password?</th>
            <th class="sort" data-sort="IsActive">Is online?</th>
            <th colspan="2">
                <input type="text" class="search" placeholder="Search entity"/>
            </th>
        </tr>
        </thead>
        <tbody class="list">
        @foreach (var r in Model)
        {
            <tr>
                <td class="name">@r.Name</td>
                <td class="routerIp">@r.RouterIp</td>
                <td class="port">@r.Port</td>
                <td class="login">@r.Login</td>
                <td class="password">***</td>
                <td class="isActive">@r.IsActive</td>

                <td><button class="btn btn-primary edit-item">Edit</button></td>
                <td><button class="btn btn-danger remove-item">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
    <button id="addRouterBtn" class="btn btn-primary btn-product col-md-12 col-xs-12">Add router</button>
</div>

<div id="modifyRouterModal" class="modal fade in" data-url='@Url.Action("ModifyRouterPartial")'>
    <div id="modifyRouterContainer"></div>
</div>

<div id="addRouterModal" class="modal fade in" data-url='@Url.Action("AddRouterPartial")'>
    <div id="addRouterContainer"></div>
</div>

<script>
    var options = {
        valueNames: ['name', 'routerIp', 'port', 'login', 'password', 'isActive']
    };

    var routersList = new List('routers', options);

    $(document).ready(function () {
        $(document).on('click', '#addRouterBtn', function () {
            const url = $('#addRouterModal').data('url');

            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                success: function (data) {
                    $('#addRouterContainer').html(data);
                    $('#addRouterModal').appendTo("body").modal('show');
                }
            });
        });

        $(document).on('click', '.edit-item', function () {
            const routerName = $(this).closest('tr').find('.name').text();

            const url = $('#modifyRouterModal').data('url');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: { router: routerName },
                    cache: false,
                    success: function (data) {
                        $('#modifyRouterContainer').html(data);

                        $('#modifyRouterModal').appendTo("body").modal('show');
                }
            });
        });

        $(document).on('click', '.remove-item', function () {
            const name = $(this).closest('tr').find('.name').text();
            $.ajax({
                type: "POST",
                url: "/Admin/RemoveRouter",
                data: {
                    name: name
                },
                cache: false,
                success: function (result) {
                    if (result) {
                        routersList.remove('name', name);
                    }
                    else {
                        alert("There was a problem when deleting router.");
                    }
                }
            });
        });
    });
</script>
