@model List<RouterManagement.Models.ViewModels.FirewallViewModel>

@Scripts.Render("~/bundles/ListJS")

@{
    ViewBag.Title = "Firewall";
    var routerName = HttpContext.Current.Request["name"] ?? RouterManagement.Logic.Connections.Routers.GetFirstRouterName();
}

<h2>Current firewall rules</h2>
<hr>
<div id="rules">
    @Html.Partial("PartialViews/_SelectRouter")

    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th class="sort" data-sort="Id">Id</th>
                <th class="sort" data-sort="Type">Type</th>
                <th class="sort" data-sort="Is_Ingreee">Is ingreee?</th>
                <th class="sort" data-sort="Description">Description</th>
                <th class="sort" data-sort="Local_addr">Addresses</th>
                <th class="sort" data-sort="Active_hours">Active hours</th>
                <th class="sort" data-sort="Enabled">Enabled?</th>
                <th colspan="2">
                    <input type="text" class="search" placeholder="Search entity" />
                </th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var f in Model)
            {
                <tr>
                    <td class="id">@f.Id</td>
                    <td class="type">@f.Type</td>
                    <td class="isIngreee">@f.Is_Ingreee</td>
                    <td class="description">@f.Description</td>
                    @if (f.Local_addr != null)
                {
                        <td class="local_addr">@String.Join(Environment.NewLine, f.Local_addr)</td>
                    }
                    else
                    {
                        <td class="local_addr">@String.Empty</td>
                    }

                    @if (f.Active_hours != null)
                {
                        <td class="active_hours">@String.Join(Environment.NewLine, f.Active_hours)</td>
                    }
                    else
                    {
                        <td class="active_hours">@String.Empty</td>
                    }
                    <td class="enabled">@f.Enabled</td>
                    <td class="edit"><button class="edit-item btn btn-primary">Edit</button></td>
                    <td class="remove"><button class="remove-item btn btn-danger">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <button id="addRuleBtn" class="btn btn-primary btn-product col-md-12 col-xs-12">Add rule</button>
</div>

<div id="addRuleModal" class="modal fade in" data-url='@Url.Action("addRulePartial")'>
    <div id="addRuleContainer"></div>
</div>

<script>
    var options = {
        valueNames: ['id', 'type', 'is_Ingreee', 'description', 'local_addr', 'active_hours', 'enabled']
    };

    var rulesList = new List('rules', options);

    $(document).ready(function () {
        $(document).on('click', '#addRuleBtn', function () {
            const url = $('#addRuleModal').data('url');

            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                success: function (data) {
                    $('#addRuleContainer').html(data);
                    $('#addRuleModal').appendTo("body").modal('show');
                }
            });
        });

        //$(document).on('click', '.edit-item', function () {
        //    const publicationId = $(this).closest('tr').find('.id').text();
        //    const item = publicationList.get('id', publicationId)[0];

        //    const objectToSend = {
        //        Id: item._values.id,
        //        TeacherAuthorsId: item._values.teacherAuthorsId,
        //        AnotherAuthors: item._values.anotherAuthors,
        //        Title: item._values.anotherAuthors,
        //        PublishedIn: item._values.publishedIn,
        //        AdditionalInfo: item._values.additionalInfo
        //    };

        //    const url = $('#modifyPublicationModal').data('url');

        //    $.ajax({
        //        type: "POST",
        //        url: url,
        //        data: objectToSend,
        //        cache: false,
        //        success: function (data) {
        //            $('#modifyPublicationContainer').html(data);

        //            $('#modifyPublicationModal').appendTo("body").modal('show');
        //        }
        //    });
        //});

        $(document).on('click', '.remove-item', function () {
            var ruleId = $(this).closest('tr').find('.id').text();
            $.ajax({
                type: "POST",
                url: "/Admin/RemoveRule",
                data: {
                    ruleId: ruleId,
                    name: '@routerName'
                },
                cache: false,
                success: function (result) {
                    if (result) {
                        rulesList.remove("id", ruleId);
                    }
                    else {
                        alert("There was a problem when deleting rule.");
                    }
                }
            });
        });
    });
</script>
