@model RouterManagement.Models.ViewModels.Firewall.FirewallViewModel

@Scripts.Render("~/bundles/ListJS")

@{
    ViewBag.Title = "Firewall";
}

<h2>Current firewall rules</h2>
<hr>
<div id="rules">
    @Html.Partial("RouterPartialViews/_SelectRouter")

    <div class="alert alert-warning">
        <strong>Warnig!</strong> You can only see and modify rules created by this software!
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th class="sort" data-sort="RuleName">Rule Name</th>
                <th class="sort" data-sort="FriendlyName">Name</th>
                <th class="sort" data-sort="Src_mac">Source mac</th>
                <th class="sort" data-sort="Src_ip">Source ip</th>
                <th class="sort" data-sort="Src_port">Source port</th>
                <th class="sort" data-sort="Dest_ip">Dest ip</th>
                <th class="sort" data-sort="Dest_port">Dest port</th>
                <th class="sort" data-sort="Enabled">Is enabled?</th>
                <th colspan="2">
                    <input type="text" class="search form-control input-sm" placeholder="Search entity..." />
                </th>

            </tr>
        </thead>
        <tbody class="list">
            @foreach (var f in Model.FirewallRestrictionRules)
            {
                var srcMac = (f.Src_mac != null) ? string.Join(Environment.NewLine, f.Src_mac) : string.Empty;
                var srcIp = (f.Src_ip != null) ? string.Join(Environment.NewLine, f.Src_ip) : string.Empty;
                var srcPort = (f.Src_port != null) ? string.Join(Environment.NewLine, f.Src_port) : string.Empty;
                var destIp = (f.Dest_ip != null) ? string.Join(Environment.NewLine, f.Dest_ip) : string.Empty;
                var destPort = (f.Dest_port != null) ? string.Join(Environment.NewLine, f.Dest_port) : string.Empty;

                <tr>
                    <td class="ruleName">@f.RuleName</td>
                    <td class="friendlyName">@f.FriendlyName</td>
                    <td class="src_mac">@srcMac</td>
                    <td class="src_ip">@srcIp</td>
                    <td class="src_port">@srcPort</td>
                    <td class="dest_ip">@destIp</td>
                    <td class="dest_port">@destPort</td>
                    <td class="enabled">@f.Enabled</td>
                    <td class="edit"><button class="edit-item btn btn-primary col-md-12 col-xs-12">Edit</button></td>
                    <td class="remove"><button class="remove-item btn btn-danger col-md-12 col-xs-12">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <button id="addRuleBtn" class="btn btn-primary btn-product col-md-12 col-xs-12">Add rule</button>
</div>

<div id="addRuleModal" class="modal fade in" data-url='@Url.Action("AddRulePartial")'>
    <div id="addRuleContainer"></div>
</div>

<div id="modifyRuleModal" class="modal fade in" data-url='@Url.Action("ModifyRulePartial")'>
    <div id="modifyRuleContainer"></div>
</div>

<script>
    var options = {
        valueNames: ['ruleName', 'friendlyName', 'src_mac', 'src_ip', 'src_port', 'dest_ip', 'dest_port', 'enabled']
    };

    var rulesList = new List('rules', options);

    $(document).ready(function () {
        $('#modalSpin').modal('hide');

        $(document).on('click', '#addRuleBtn', function () {
            $('#modalSpin').modal('show');
            const url = $('#addRuleModal').data('url');

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    routerName: '@Model.RouterName'
                },
                cache: false,
                success: function (data) {
                    $('#addRuleContainer').html(data);
                    $('#addRuleModal').appendTo("#bodyContent").modal('show');
                }
            });
        });

        $(document).on('click', '.edit-item', function () {
            $('#modalSpin').modal('show');
            const url = $('#modifyRuleModal').data('url');
            const ruleName = $(this).closest('tr').find('.ruleName').text();

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    RuleName: ruleName,
                    RouterName: '@Model.RouterName'
                },
                cache: false,
                success: function (data) {
                    $('#modifyRuleContainer').html(data);
                    $('#modifyRuleModal').appendTo("#bodyContent").modal('show');
                }
            });
        });

        $(document).on('click', '.remove-item', function () {
            $('#modalSpin').modal('show');
            var ruleName = $(this).closest('tr').find('.ruleName').text();
            $.ajax({
                type: "POST",
                url: "/Admin/RemoveRule",
                data: {
                    RuleName: ruleName,
                    RouterName: '@Model.RouterName'
                },
                cache: false,
                success: function (result) {
                    if (result) {
                        rulesList.remove("ruleName", ruleName);
                    }
                    else {
                        $.notify("There was a problem when deleting rule.");
                    }

                    $('#modalSpin').modal('hide');
                }
            });
        });
    });
</script>
