@model RouterManagement.Models.ViewModels.Wireless.WirelessViewModel

@Scripts.Render("~/bundles/ListJS")

@{
    ViewBag.Title = "Wireless";
}

<h2>Current wireless configuration</h2>
<hr>
<div id="configurations">
    @Html.Partial("RouterPartialViews/_SelectRouter")

    <div class="alert alert-warning">
        <strong>Warnig!</strong> Changing these settings may cause disconnection to the network!
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th colspan="2">
                    <input type="text" class="search form-control" placeholder="Search entity" />
                </th>
            </tr>
            <tr>
                <th class="sort" data-sort="key">Key</th>
                <th class="sort" data-sort="value">Value</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td class="key">Disabled</td>
                <td class="value">@Model.Disabled</td>
            </tr>
            <tr>
                <td class="key">Channel</td>
                <td class="value">@Model.Channel</td>
            </tr>
            <tr>
                <td class="key">SSID</td>
                <td class="value">@Model.Ssid</td>
            </tr>
            <tr>
                <td class="key">Encryption</td>
                <td class="value">@Model.Encryption</td>
            </tr>
            <tr>
                <td class="key">Key</td>
                <td class="value">@Model.Key</td>
            </tr>
            <tr>
                <td class="key">Mode</td>
                <td class="value">@Model.Mode</td>
            </tr>
            <tr>
                <td class="key">Network</td>
                <td class="value">@Model.Network</td>
            </tr>

        </tbody>
    </table>
    <button id="editWirelessBtn" class="btn btn-primary col-md-12">Edit wireless</button>
</div>

<div id="editWirelessModal" class="modal fade in" data-url='@Url.Action("EditWirelessPartial")'>
    <div id="editWirelessContainer"></div>
</div>

<script>
    var options = {
        valueNames: ['key', 'value']
    };

    var configurationsList = new List('configurations', options);

    $(document).ready(function () {
        $(document).on('click', '#editWirelessBtn', function () {
            $('#modalSpin').modal('show');
            const objectToSend = {
                Disabled: configurationsList.get("key", "Disabled")[0]._values.value,
                Channel: configurationsList.get("key", "Channel")[0]._values.value,
                SSID: configurationsList.get("key", "SSID")[0]._values.value,
                Encryption: configurationsList.get("key", "Encryption")[0]._values.value,
                Key: configurationsList.get("key", "Key")[0]._values.value,
                Mode: configurationsList.get("key", "Mode")[0]._values.value,
                Network: configurationsList.get("key", "Network")[0]._values.value,
                RouterName: '@Model.RouterName'
            };

            const url = $('#editWirelessModal').data('url');

            $.ajax({
                type: "POST",
                url: url,
                data: objectToSend,
                cache: false,
                success: function (data) {
                    $('#editWirelessContainer').html(data);
                    $('#editWirelessModal').appendTo("#bodyContent").modal('show');
                }
            });
        });
    });
</script>
